mat-grid-tile{
    background: lightgray;
}
button:disabled,
button[disabled]{
  background-color:yellow;
  color: black;
}

.max-width{width:100%;}

mat-list-item{
    height: max-content;
}

.no-bullets{
    list-style-type:none;
}