<div class="center">
    <div>
    <h1>Change password</h1>
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="submit()">
        <mat-form-field class="full-width">
            <mat-label>Old password:</mat-label>
            <input matInput type="password" formControlName="oldPassword">
            <div *ngIf="passwordForm.controls['oldPassword'].errors?.['required']">
                <a class="danger">*Email must no be empty!</a>
                <br>
            </div>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>New password:</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <div *ngIf="passwordForm.controls['newPassword'].errors?.['required']">
                <a class="danger">*Email must no be empty!</a>
                <br>
            </div>
        </mat-form-field>
                <br>
            <button type="submit">Save</button>
    </form>
    </div>
</div>
